.nav {
    height: 10vh;

}

.nav-close {
    padding-top: 20%;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    position: absolute;
    flex-direction: column;
    background-color: black;
    clip-path: circle(0px at 8% 6%);
    -webkit-clip-path: circle(0px at 8% 6%);
    transition: all 0.5s ease-in;
    pointer-events: all;
}
.nav-open {
    position: absolute;
    padding-top: 15%;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: left;
    position: absolute;
    flex-direction: column;
    background-color: black;
    clip-path: circle(300px at 10% 20%);
    -webkit-clip-path: circle(300px at 10% 20%);
    transition: 0.5s ease-out;
    pointer-events: all;
}

.list {
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    padding-left: 1%;
    transition: 0.3s ease-out;
}

.list:hover {
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 2;
}

.line {
    display: block;
    width: 80px;
    height: 0.25px;
    background: white;
    margin: 5px;
    border-radius: 50px;
    transition: 0.3s ease-in;
}

.line1 {
    width: 80px;
    height: 0.25px;
    background: white;
    margin: 5px;
    border-radius: 50px;
    transform: translateY(25px) rotateZ(45deg);
    transition: 0.3s ease-out;
}
.line2 {
    opacity: 0;
    transform: translateX(180px);
    transition: 0.8s ease-out;
}
.line3 {
    width: 80px;
    height: 0.25px;
    background: white;
    margin: 5px;
    border-radius: 50px;
    transform: translateY(-17px) rotate(-45deg);
    transition: 0.5s ease-out;
}